<div class="p-3 h-screen">
  <div class="h-20 pb-3 flex gap-10 justify-between items-center px-5">
    <div routerLink="/">
      <svg class="fill-orange-300 h-10 w-40">
        <use xlink:href="assets/sprite.svg#sportinev-icon"></use>
      </svg>
    </div>
    <nav>
      <ul class="list-none text-lg text-orange-300 cursor-pointer flex gap-5">
        <li
          class="hover:text-orange-400 hover:underline"
          [routerLink]="['contact-us']"
        >
          Contact us
        </li>
        <li
          class="hover:text-orange-400 hover:underline"
          [routerLink]="['sign-up']"
        >
          Sign up
        </li>
        <li
          class="hover:text-orange-400 hover:underline"
          [routerLink]="['log-in']"
        >
          Log in
        </li>
      </ul>
    </nav>
  </div>
  <div
    class="h-[calc(100%-5rem)] bg-secondary rounded-2xl bg-gradient-to-br from-spyellow to-orange-300 p-10"
  >
    <div class="h-[calc(100%-5rem)] flex items-center">
      <div>
        <div class="text-5xl uppercase text-slate-600">
          <p class="font-light">All your sports</p>
          <p class="font-bold">in one place</p>
        </div>
        <div class="text-lg text-slate-600 mt-2">
          <p>Find or plan sports events near you.</p>
        </div>
        <div class="mt-5">
          <button
            routerLink="events"
            appButtonPill
            class="bg-slate-100 text-slate-600"
          >
            Browse events
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
